#root {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
}

main {
  min-height: 96vh;
  background-color: #f6f6f6;
}

body {
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
  letter-spacing: normal;
}

p {
  margin-block-end: 0;
}

.navbar {
  text-transform: none;
  font-size: 18px;
  padding: 15px;
  font-weight: 500;
}

.navbar-nav {
  font-weight: 400;
}

/* text selection color for firefox */
::-moz-selection {
  color: white;
  background: #d78729;
}

/* text selection color */
::selection {
  color: white;
  background: #d78729;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.bg-dark {
  background-color: #ef962e !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.btn-primary-no-background {
  background: none;
  color: #ef962e;
  border: none;
}

.btn-primary {
  background-color: #ef962e;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #d78729;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.huge-header {
  color: #858585;
  margin-top: 50px;
  text-align: center;
}

.section-header {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topdown-element-text {
  font-size: 1.7vh;
  line-height: 120%;
}

.scroll-area {
  display: inline-flex;
  overflow-x: scroll;
  width: 100%;
  gap: 15px;
  padding-left: 0px;
}

.vertical-scroll-area {
  display: grid;
  overflow-y: scroll;
  max-height: 80vh;
  row-gap: 15px;
  margin: 0px;
}

.card {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

/* items in horizontal list */
.card.horizontal {
  flex-shrink: 0;
  height: 150px;
  width: 150px;
}

.card.vertical {
  /* flex-shrink: 0; */
  min-height: 60px;
  min-width: 200px;
  /*max-width: 400px;*/
  flex-direction: row;
  /* display: flex; */
}

.card.hov-primary:hover>.card-title {
  color: #ef962e;
}

.card.hov-primary:hover {
  border-color: #ef962e;
}

.card-image.horizontal {
  height: 85px;
  width: 130px;
  margin-top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /* display: inline-block; */

  /* top: -2px; */
  position: relative;
  vertical-align: middle;

  /* background-size: 95%; */
  /* background-repeat: no-repeat; */
  background-attachment: scroll;
  background-color: transparent;

  stroke: #ef962e !important;
}

.card-image.horizontal:hover {
  stroke: #ef962e !important;
}

.card-image.vertical {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  margin-top: 10px;
  color: #858585;
}

.card-title {
  margin-top: auto;
  font-size: 16px;
  color: #858585;
}

.card-title.horizontal {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}

.card-title.vertical {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.card-content {
  text-align: left;
  line-height: 130%;
  margin-left: 10px;
}

.form-control {
  margin: auto;
  margin-top: 20px;
  min-width: 200px;
  max-width: 400px;
  padding: 10px;
}

.form-control-input {
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  background-color: white;
}

.form-control-input:focus {
  background-color: white;
}

.form-control-input-password {
  margin-top: 5px;
  margin-bottom: -5px;
  background: none;
}

.form-control-input::-webkit-input-placeholder {
  font-weight: 300;
}

.form-control-input::-moz-placeholder {
  font-weight: 300;
}

.form-control-input::-ms-input-placeholder {
  font-weight: 300;
}

.form-control:hover {
  border-color: #858585;
}

.checkbox-icon {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -7px;
  filter: grayscale(1);
  transform: scale(1.25);
}

.switch {
  margin-top: 6px;
  margin-left: 20px;
}

.switch-on {
  color: #6aa84f;
  border-color: #6aa84f;
}

.switch-off {
  color: #cc4125;
  border-color: #cc4125;
}

.switch-on:hover {
  color: #6aa84f;
  border-color: #6aa84f;
}

.switch-off:hover {
  color: #cc4125;
  border-color: #cc4125;
}

#tv1 {
  background-image: url(../public/resources/devices_icons/tv_icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  height: 1.5vmax;
  background-color: #f6f6f6;
  border-radius: 8px;
  transform: rotate(180deg);
  grid-row: 6;
  grid-column: 2 / span 2;
  grid-column-start: 1;
  align-self: end;
  transform: rotate(180deg) translateX(-30%);
}

#tv2 {
  background-image: url(../public/resources/devices_icons/tv_icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
  transform: rotate(90deg) translateX(2%) translateY(-340%);
  height: 1.4vmax;
  background-color: #f6f6f6;
  border-radius: 8px;
  align-self: end;
  grid-column: -1 / span 2;
  grid-row: 2;
}

#sofa {
  background-image: url(../public/resources/devices_icons/sofa.svg);
  width: 11vmax;
  height: 4vmax;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  border-radius: 8px;
  grid-row: 1;
  grid-column: -1 / span 2;
  justify-self: center;
  align-self: end;
  transform: translateX(-25%) translateY(-7%);
}

#window1 {
  /* background-image: url(../public/resources/devices_icons/window.png); */
  width: 85%;
  height: 17%;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  grid-row: 1;
  grid-column: 1 / span 3;
  justify-self: center;
  align-self: top;
  border: solid 1px black;
  transform: translateX(5%) translateY(20%);
  background-size: cover;
}

#window2 {
  /* background-image: url(../public/resources/devices_icons/window.png); */
  width: 100%;
  height: 17%;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  grid-row: 1;
  grid-column: 4 / span 3;
  justify-self: center;
  align-self: top;
  border: solid 1px black;
  transform: translateX(20%) translateY(20%);
  background-size: cover;
}

#lamp1 {
  background-image: url(../public/resources/devices_icons/lamp.png);
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  justify-self: center;
  align-self: top;
  border-radius: 50%;
  border: solid 1px black;
  grid-row: 1;
  grid-column: 6;
  background-size: cover;
  width: 2.5vmax;
  height: 2.5vmax;
  transform: translateX(100%) translateY(0%)
}

#lamp2 {
  background-image: url(../public/resources/devices_icons/lamp.png);
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  justify-self: center;
  align-self: top;
  border-radius: 50%;
  border: solid 1px black;
  grid-row: 1;
  grid-column: 5;
  background-size: cover;
  width: 2.5vmax;
  height: 2.5vmax;
  transform: translateX(100%) translateY(0%)
}

#camera {
  background-image: url(../public/resources/devices_icons/camera.png);
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  justify-self: center;
  align-self: top;
  grid-row: 6;
  grid-column: 4;
  background-size: contain;
  width: 4vmax;
  height: 2vmax;
  transform: rotate(270deg) translateX(-65%) translateY(-30%)
}

/* TV1 */
#Smart_Metering_switchbinary_08_01Switch {
  grid-row: 5;
  grid-column: 2;
  transform: translateY(120%) translateX(37%)
}

/* TV2 */
#Smart_Metering_switchbinary_09_01Switch {
  grid-row: 3;
  grid-column: 6;
  transform: translateY(-50%) translateX(130%)
}

/* Living lamps */
#Smart_Metering_switchbinary_10_01Switch {
  grid-row: 1;
  grid-column: 6;
  transform: translateY(70%) translateX(20%)
}

/* Ceiling lamp Switch 21 01 */
#Ceiling_Lamp_switch_21_01Switch {
  grid-row: 1;
  grid-column: 1;
  transform: translateY(10%) translateX(10%)
}

#Color_LED_Lamp_switch_19_01Switch {
  grid-row: 3;
  grid-column: 1;
  transform: translateY(10%) translateX(10%)
}

#LED_Lights_switch_1000_02Switch {
  grid-row: 2;
  grid-column: 1;
  transform: translateY(10%) translateX(10%)
}


/* Gas sensor */
#Smart_Metering_switchbinary_07_01Switch {
  grid-row: 6;
  grid-column: 7;
  transform: translateY(10%)
}

#horRectangle {
  width: 7vmax;
  height: 2.5vmax;
  background-color: #f6f6f6;
  border: solid 1px black;
  border-radius: 8px;
  grid-row: 6;
  grid-column: 1;
  justify-self: center;
  align-self: end;
}

#server {
  width: 4.5vmax;
  height: 4.5vmax;
  background-color: #f6f6f6;
  border-radius: 8px;
  grid-row: 5;
  grid-column: 1;
  justify-self: left;
  align-self: end;
  background-image: url(../public/resources/devices_icons/server.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#door {
  width: 6.5vmax;
  height: 6vmax;
  background-color: #f6f6f6;
  /* border: solid 1px black; */
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
  border-top-left-radius: 90px;
  grid-row: 4 / span 5;
  grid-column: 6;
  justify-self: end;
  align-self: center;
  margin-bottom: -9%;
  transform: rotate(90deg) translateX(75%) translateY(-70%);
}

.square {
  min-width: 4vmax;
  min-height: 4vmax;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  border: solid 1px black;
  border-radius: 8px;
  color: #f6f6f6;
  /* overflow: auto; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vh;
}

.rectangle {
  min-width: 3vmax;
  min-height: 6vmax;
  width: fit-content;
  height: fit-content;
  color: #f6f6f6;
  text-align: center;
  border: solid 1px black;
  border-radius: 8px;
  cursor: pointer;
}

#device30 {
  grid-row: 2;
  align-self: end;
  grid-column: 1;
  font-size: 65%;
}

#device26 {
  grid-row: 3;
  align-self: end;
  grid-column: 1;
  font-size: 65%;
}

#device27 {
  grid-row: 6;
  grid-column: 3;
  font-size: 65%;
  align-self: end;
}

#device25 {
  grid-row: 4;
  grid-column: 4;
  justify-self: end;
  margin-bottom: 5px;
  font-size: 65%;
  align-self: end;
}

#ZWaveNode004HS2SKZSmartMeteringPlug_SwitchSwitch {
  grid-row: 2;
  grid-column: 3;
  justify-self: start;
  font-size: 65%;
  align-self: end;
}

#device13 {
  grid-row: 4;
  grid-column: 1;
  align-self: end;
  justify-self: start;
  font-size: 65%;
}

#device29 {
  grid-row: 5;
  align-self: end;
  grid-column: 1;
  font-size: 65%;
}

#device31 {
  grid-row: 3;
  grid-column: 4;
  justify-self: end;
  font-size: 65%;
  align-self: start;
}

.flex-container {
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
  width: 40vmax;
  height: 34vmax;
  margin: auto;
  background-color: #f6f6f6;
  border: solid 1px black;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* FLEX CONTAINER ICONS */
/*
 .flex-container #circle{
  border: solid 1px #f6f6f6;
  background-image: url("icons/meeting128px.png");
  background-size:  cover;
  background-repeat: no-repeat;
}

.flex-container #server{
  border: solid 1px #f6f6f6;
  background-image: url("icons/server64px.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;  
} 
.flex-container #horRectangle{
  border: solid 1px #f6f6f6;
  background-color: #80471c;
  background-image: url("icons/desk2.png");
  background-repeat: no-repeat;
  background-size:  115px 50px;
  border: solid 1px #f6f6f6;   
}
.flex-container #door{
  background-image: url("../../frontend/src/icons/door.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;
} 
/*
Devices 25-- washing machine
        27 -- modem
        13 -- oven
        29 -- oven fan
        30 -- fridge
        31 -- dryer machine

*/
/* .flex-container #device25{
  background-image: url("../../frontend/src/icons/lavadora.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;
  color: black;
  font-weight: bolder;
  font-size: large;
}
.flex-container #device30{
  background-image: url("../../frontend/src/icons/fridge.png");
  background-size:  cover;
  border: solid 1px #f6f6f6;
  font-weight: bolder;
  font-size: large;
}
.flex-container #device31{
  background-image: url("../../frontend/src/icons/dryer2.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;
  color: black;
  font-weight: bolder;
  font-size: large;
}
.flex-container #device13{
  background-image: url("../../frontend/src/icons/oven.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;
  color: black;
  font-weight: bolder;
  font-size: large;
}
.flex-container #device29{
  background-image: url("../../frontend/src/icons/oven_fan.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;
  color: black;
  font-weight: bolder;
  font-size: large;
}
.flex-container #device27{
  background-image: url("../../frontend/src/icons/modem.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;
  color: black;
  font-weight: bolder;
  font-size: large;
}
.flex-container #device26{
  background-image: url("../../frontend/src/icons/dish_washer.png");
  background-repeat: no-repeat;
  background-size:  cover;
  border: solid 1px #f6f6f6;
  color: black;
  font-weight: bolder;
  font-size: large;
} */

/* POPUP CSS */

#modal {
  height: 10vmax;
  width: 15vmax;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(1px);
  color: #f6f6f6;
  text-align: center;
  grid-row: 2 / span 2;
  grid-column: 2 / span 2;
  padding: 5px;
  justify-self: center;
  align-self: center;
}

.img-logo {
  margin-right: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-header {
  color: #ef962e;
  text-align: center;
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: 700;
  /* font-family: "Roboto Black"; */
}

.logo {
  margin-top: 50px;
}

.cardCounter {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  resize: none;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.counter {
  font-size: 50px;
  color: #ef962e;
  line-height: 50px;
}

.counterUnit {
  font-size: 14px;
  color: #858585;
  display: inline-block;
  padding-right: 5px;
}

.counterHelp {
  display: inline-block;
}

.input-error {
  margin-top: 0;
}

.altList {
  margin-left: 1%;
}

.noDevicesPopup {
  grid-row: 3 / span 2;
  grid-column: 2 / span 2;
  text-align: center;
  color: #ef962e;
  font-style: italic;
  margin-top: 20%;
  font-size: 1.1rem;
}

.masterSwitch {
  align-items: center;
  display: inline-block;
}

.masterSwitchContainer {
  display: flex;
}

.masterSwitch {
  align-items: center;
  display: flex;
  justify-content: space-around;
  resize: none;
  flex-wrap: wrap;
  max-width: 10rem;
  max-height: 5rem;
  margin-bottom: 1rem;
}

#masterHelpIcon {
  margin-top: 13px;
}

#masterToggle {
  margin-top: 13px;
}

#masterSwitchDesc {
  margin-top: 9px;
  margin-right: 5px;
}

#switchOFF {
  border: 1px solid rgba(204, 65, 37, 1);
}

#switchON {
  border: 1px solid rgba(106, 168, 79, 1);
}

.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 25px;
    grid-template-columns: repeat(8, 1fr);
    background-color: #f6f6f6;
    border-radius: 8px;
    margin-bottom: 20px;
    position: absolute;
    width: 80%;
    left: 10%;
  }

  .sensor{
    grid-column: span 2;
    border: 6px solid #DFDFDF;
    outline: none;
    border-radius: 8px;
    height: 120px;
    overflow: auto;
  }

  .grid-title{
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4 px;
    background:#ef962e !important;
    margin: 0;
  }

  .door-title{
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
  }

  .grid-contain{
    display: flex;
    flex-direction: row;
    height: 74px;
    justify-content: space-evenly;
  }

  .statusSwitch{
    display: flex;
  }
  .consumption{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    border: #DFDFDF solid 3px;
    border-radius: 100px;
  }

  .door-grid{
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 6px solid #DFDFDF;
    border-radius: 8px;
  }
  .camera-grid{
    justify-content: center;
    align-content: center;
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 6px solid #DFDFDF;
    border-radius: 8px;
  }
  .spacing{
    justify-content: center;
    align-content: center;
    grid-row: span 2;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 8px;
  }

  .door-grid img {
    margin: auto;
  }

.grid-line{
  width: 100%;
  border: 3px solid #DFDFDF;
  display: block;
}

.bar{
  width: 90%;
  border: 3px solid #DFDFDF;
  display: block;
}

.window_img{
  height: 175px;
  width: 146px;
}

.magician{
  border: #DFDFDF solid 3px;
}

.control-title{
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sensor {
    grid-column: span 2;
  }
}


@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .sensor {
    grid-column: span 2;
  }
}


.timer-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.timer-grid-container {
  display: grid;
  column-gap: 20px;
  row-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  background-color: #f6f6f6;
  border-radius: 8px;
  margin-bottom: 20px;
}

.timer {
  border: 6px solid #dfdfdf;
  outline: none;
  border-radius: 8px;
  overflow: auto;
  background-color: #fff;
}

.timer-grid-title {
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #ef962e;
  margin: 0;
  padding: 10px;
}

.timer-grid-contain {
  display: flex;
  flex-direction: row;
  height: 74px;
  justify-content: space-evenly;
}

.timer-status {
  display: flex;
  align-items: center;
}

.timer-name-input {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 38px;
}

.timer-name-input.name-config {
  margin-left: 35px;
}

.timer-close {
  margin-right: 15px;
}

.toggle-separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .timer-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .timer-name-input {
    max-width: 100px;
  }

  .timer-name-input.name-config {
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .timer-grid-container {
    grid-template-columns: 1fr;
  }

  .timer-name-input {
    max-width: 100px;
  }

  .timer-name-input.name-config {
    max-width: 200px;
  }
}

@media (max-width: 600px) {
  .timer-grid-container {
    grid-template-columns: 1fr;
  }

  .timer-name-input {
    max-width: 100px;
  }

  .timer-name-input.name-config {
    max-width: 200px;
  }
}

@media (max-width: 460px) {
  .card-title.vertical.name-config {
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


/* Add these styles to your CSS */
.device-configurator-card.selected .card-title.horizontal {
  color: #ef962e;
}

.device-configurator-card .card-title.horizontal {
  color: #0000ff;
}

/* index.css */

/* index.css */

.back-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: url('./Images/back_button.png') no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: none;
}


