main {
  min-height: 80vh;
}

::-webkit-scrollbar {
  width: 0px;
}

.btn-primary-no-background {
  background-color: white;
  color: #ef962e;
  border: none;
}

.btn-primary {
  background-color: #ef962e;
  color: white;
  border: none;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #d78729;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.huge-header {
  color: #858585;
  margin-top: 50px;
  text-align: center;
}

.section-header {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scroll-area {
  display: inline-flex;
  overflow-x: scroll;
  width: 100%;
  gap: 20px;
  padding-left: 0px;
}

/* items in horizontal list */
.card {
  flex-shrink: 0;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.card:hover > .card-title {
  color: #ef962e;
}

.card:hover {
  border-color: #ef962e;
}

.card-image {
  height: 100px;
  width: 130px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-title {
  position: absolute;
  bottom: 0;
  font-size: 16px;
}

.form-control {
  margin: auto;
  margin-top: 20px;
  display: flex;
  min-width: 200px;
  max-width: 400px;
  padding: 10px;
}

.form-control-input {
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  background-color: white;
}

.form-control-input:focus {
  background-color: white;
}

.form-control:hover {
  border-color: #858585;
}

.checkbox-icon {
  margin-top: 5px;
  margin-right: 10px;
  filter: grayscale(1);
  transform: scale(1.25);
}
